body {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}
#txtNodeSearch{
    resize: none;
    font-size: 15px;
}
#cytoscapeweb{
    height: 600px;
    background-color: #E6E6E6;
}
